/* default color scheme: light */

body {
    font-family: Arial, sans-serif;
    margin: 8px;
}

h2, h3 {
	text-align: center
}

.tab-container {
    display: flex;
	margin: auto;
	align-items: center;
	justify-content: safe center;
	gap: 1%;
    border-bottom: 1px solid white;
}
.tab {
    padding: 4px 4px;
	display: block;
    cursor: pointer;
    border: 1px solid white;
    border-bottom: none;
    background-color: rgb(210, 210, 210);
    /* margin-right: 2px; */
}
.tab.active {
    background-color: white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.tab-content {
    display: none;
    padding: 8px;
    border: 1px solid white;
    margin-top: -1px;
}
.tab-content.active {
    display: block;
}
table {
    /* width: 100%; */
    border-collapse: collapse;
	margin: auto;
    margin-top: 4px;
}
th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: left;
}
th {
    background-color: white;
}

div .add-player-container {
    margin-top: 8px;
    display: flex;
	align-items: center;
	justify-content: safe center;
}

.button-container {
    /* float: right; */
    /* float: left; */
	align: center;
	display: flex;
	align-items: center;
	justify-content: safe center;
}
.button-container button {
    margin-left: 4px;
}

/*
#dataTable {
	display: block;
}
*/

.locked {
opacity: 0.5;
pointer-events: none;
}
.round-container {
    margin-top: 8px;
    display: flex;
	align-items: center;
	justify-content: safe center;
	gap: 1%;
}
.round-tab {
    padding: 2px 4px;
    cursor: pointer;
    border: 1px solid white;
    border-bottom: none;
    background-color: rgb(210, 210, 210);
    margin-right: 2px;
    display: inline-block;
	align-items: center;
	justify-content: center;
	font-size: x-large;
}
.round-tab.active {
    background-color: white;
    border-top: 1px solid black;
}
.round-content {
    display: none;
    padding: 8px;
    border: 1px solid white
    margin-top: -1px;
}
.round-content.active {
    display: block;
}

#tab2 tbody tr:nth-child(odd) {
  background-color: #6C8BF5;
  color: #fff; 
}

/* Apply fixed width ONLY to the table inside tab3 */
#tab3 table {
    border-collapse: collapse;
    /* width: 100%; */
    margin: 8px auto;
    /* table-layout: fixed; /* Ensures uniform column width */ 
}

#tab3 th, #tab3 td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
	vertical-align: center;
    /* width: 28px; /* Set a fixed width for all columns */ 
}

#tab3 th {
    background-color: white;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	width: fit-content;
}

#tab3 th span {
    /*background-color: white;*/
	writing-mode: vertical-rl;
	text-orientation: mixed;
	padding-inline: inherit;
}

#tab3 th.th-left-top {
	border-left: none;
	border-top: none;
	background-image: url("favicon.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#tab3 td.empty {
    /* background-color: white; */
    background-color: black;
}

#tab3 thead th:nth-of-type(odd) {
  background-color: #6C8BF5;
  color: #fff; 
}

#tab3 tbody tr:nth-child(even) {
  background-color: #6C8BF5;
  color: #fff; 
}

#tab4 tbody tr:nth-child(odd) {
  background-color: #6C8BF5;
  color: #fff; 
}

/* Apply fixed width ONLY to the table inside tab4 */

#tab4 table {
    border-collapse: collapse;
    /* width: 50%; */
    margin: 8px auto;
    /*table-layout: fixed; /* Ensures uniform column width */
}
#tab4 td, th {
	text-align: center;
	vertical-align: center;
}
#tab4 th {
	word-wrap: break-word;
}

#tab5, #tab4_5 {
	text-align: center;
}

ul {
	display: inline-block;
	text-align: left;
}

ul li {
	/* list-style: none; */
}

li.li-setting {
	list-style: none; 
	padding-bottom: 5px;
}

hr {
	align: center;
}

footer {
	align: center;
    text-align: center;
    padding: 2px;
    position: relative;
    bottom: 0;
    width: 90%;
    background-color: white;
    border-top: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

p.p-info {
	font-size: small;
	text-align: center;
}

/* } */
